<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ryukai", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:15%">
        <a href="#" class="w3-bar-item w3-button">Thông Tin Cá Nhân</a>
        <a  class="w3-bar-item w3-button">@Html.ActionLink("Tạo mới truyện","TaoMoi","Truyen")</a>
        <div class="w3-dropdown-hover">
            <button class="w3-button">
                Quản Lí Truyện
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="w3-dropdown-content w3-bar-block">
                <a href="#" class="w3-bar-item w3-button">Xem Truyện Đã Tạo</a>
                <a href="#" class="w3-bar-item w3-button">Link</a>
            </div>
        </div>
        <div class="w3-dropdown-hover">
            <button class="w3-button">
                Quản Lí Bản Dịch
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="w3-dropdown-content w3-bar-block">
                <a href="#" class="w3-bar-item w3-button">Xem Truyện Đã Dịch</a>
                <a href="#" class="w3-bar-item w3-button">Link</a>
            </div>
        </div>
        
    </div> 
 
    <div class="container body-content" style="margin-left:15%" >

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
